# mysite_uwsgi.ini file
[uwsgi]

# Django-related settings
# the base directory (full path)
chdir = {{projects_root_dir}}/dian-server/dian

# Django's wsgi file
module = dian.wsgi

# the virtualenv (full path)
home = {{projects_root_dir}}/dian-server/.venv

# process-related settings
# master
master = true

# maximum number of worker processes
processes = 10

# the socket (use the full path to be safe)
socket = /var/run/dian/dian_server.sock

# with appropriate permissions - may be needed
chmod-socket = 666

# clear environment on exit
vacuum = true

# daemonize = /var/log/uwsgi.log
pidfile = /var/run/dian/dian_uwsgi.pid
