{% extends "base.html" %}

{% block content %}
<div class="tables-area">
  <h2>
    {{restaurant_name}} - 自助取号
  </h2>
  <h4>请选择餐桌</h4>

  <form action="/wp/confirm-table-type/" method="POST">
    {% csrf_token %}
    {% for table in table_types %}
    <div class="table-type-wrap">
      <input type="radio" name="table_type" value="{{table.id}}" id="table_type_{{table.id}}">
      <label for="table_type_{{table.id}}" ng-class="{true: 'active', false: 'inactive'}[my_form.table_type==ttype]">{{ table.name}}( {{table.min_seats}} - {{table.max_seats}} )</label>
    </div>
    {% endfor %}
    <input type="hidden" name="restaurant_openid" value="{{restaurant_openid}}"></input>
    <input type="hidden" name="member_id" value="{{member_id}}"></input>
    <input type="hidden" name="phone" value=66666666666></input>
    <button type="submit">取号</button>
  </form>
</div>
{% endblock %}
